.shiny-output-error-validation {
	font-size: 16px;
	font-weight: bold;
	color: green;
      }

.shiny-output-error {
	font-size: 16px;
	font-weight: bold;
	color: green;
      }

/**
#app_title {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

#logo_img {
  padding-top:5px;
  padding-bottom:5px;
}

.main-header {
  min-height: 100px
}

.main-header .logo {
  height: 100px
}

.left-side, .main-sidebar {
  top: auto; 
  padding-top: 0px;
}


